#homePage {
    display: grid;
    grid-template-columns: 3fr 3fr;
    background-color: rgb(207, 207, 207);    ;
    font-size: 25px;
    padding-bottom: 70px;
}

#tequila {
    width: 650px;
    height: auto;
    margin-top: 80px;
    align-self: center;
    justify-self: center;
}

#homeText {
    align-self: center;
    margin-left: 200px;
    margin-right: 100px;
    font-weight: 600;
}
